

<div class="map-controls">
  <div class="logo-overlay">
    <img src="assets/images/logo.png" class="logo" alt="logo">
  </div>
  <div class="search-container">
    <input type="text" id="google-map-search" #googleMapSearch placeholder="Search locations">
  </div>
</div>

<div *ngIf="containers != null" class="my-google-map">
    <google-map (mapClick)="doNextRouteStep($event)" id="google-map" [width]="null" [height]="null" [options]="mapOptions">
      
      <map-marker *ngIf="startPos" [position]="startPos" [icon]="'assets/images/garbage-truck.png'">

      </map-marker>
      <map-marker *ngFor="let container of containers; let i = index" #marker="mapMarker" [position]="container.location" 
      [icon]="container.icon"  
      (mapClick)="openInfoWindow(marker, i) ">
          <map-info-window> 

              <app-bubble [container]="container"></app-bubble>

          </map-info-window>

      </map-marker>


        <map-marker *ngIf="routeStartPoint" [position]="routeStartPoint" [icon]="'assets/images/placeholder.png'"></map-marker>
        <map-marker *ngIf="routeEndPoint" [position]="routeEndPoint" [icon]="'assets/images/racing-flag.png'"></map-marker>
        <map-marker *ngIf="routeTLPoint && !boundsReady" [position]="routeTLPoint" [icon]="'https://i.imgur.com/8442BfF.png'"></map-marker>
        

<!-- TODO: Promeniti ovu ikonicu!!! -->
        <map-marker *ngIf="lastClicked" [position]="lastClicked" (mapClick)="openConfirmationWindow(confirmation)" [icon]="'https://i.imgur.com/KvrHWiR.png'"
        #confirmation="mapMarker">
          <map-info-window> 
              <app-confirm [heading]="headings[current_step_index]" (onResponse)="onResponse($event)"></app-confirm>
          </map-info-window>
        </map-marker>


        <!-- TODO: Promeniti boju ovog pravougaonika i ove rute -->
      <map-rectangle *ngIf="boundsReady" [bounds]="bounds"/>
      <map-polyline *ngIf="routeReady" [path]="path"/>
      
    </google-map>
  </div>